body{
	background: whitesmoke;
}

.mainframe{
	position: relative;
}

.innerFrame{
	position: absolute;
	top: 0;

	height: 500px;
	width: 500px;
	object-fit: cover;
	border-radius: 10px;
	overflow: hidden;
}

img{
	height: 100%;
	width: 100%;
}

#_3{
	left: 90px;
}

#_1{
	left: 50px;
}
