body{
	background: whitesmoke;
}

.mainframe{
	position: relative;
}

.innerFrame{
	position: absolute;
	top: 0;

	height: 500px;
	width: 500px;
	object-fit: cover;
	border-radius: 10px;
	overflow: hidden;
}

img{
	height: 100%;
	width: 100%;
}

#_3{
	left: 90px;
	z-index: 1;
	animation: mate3 10s linear infinite;
}

#_2{
	z-index: 3;
	left: 0;
	animation: mate2 10s linear infinite;
}

#_1{
	z-index: 2;
	left: 50px;
	animation: mate1 10s linear infinite;
}


@keyframes mate2 {
	0%{
		left: 0;
		z-index: 3;
	}
	49%{
		left: 0;
	}
	50%{
		left: -10000px;
	}
	52%{
		left: 90px;
		z-index: 1;
	}
	79%{
		left: 90px;
		z-index: 1;
	}
	80%{
		left: 50px;
		z-index: 2;
	}
	94%{
		left: 50px;
	}
	95%{
		left: 0;
		z-index: 3;
	}
}

@keyframes mate1 {
	0%{
		left: 50px;
		z-index: 2;
	}
	49%{
		left: 50px;
	}
	50%{
		left: 0;
		z-index: 2;
	}
	52%{
		z-index: 3;
	}
	59%{
		left: 0;
	}
	60%{
		left: -10000px;
	}
	79%{
		left: -10000px;
	}
	80%{
		left: 90px;
		z-index: 1;
	}
	94%{
		left: 90px;
	}
	95%{
		left: 50px;
		z-index: 2;
	}
}

/*@keyframes mate3 {
	0%{
		left: 50px;
		z-index: 2;
	}
	49%{
		left: 50px;
	}
	50%{
		left: 0;
		z-index: 3;
	}
	60%{
		left: -10000px;
	}
	79%{
		left: -10000px;
	}
	80%{
		left: 90px;
		z-index: 1;
	}
	94%{
		left: 90px;
	}
	95%{
		left: 50px;
		z-index: 2;
	}
}*/
